.acor-container {
    margin: 20px 5%;
}
.title{
    font-family: Verdana, sans-serif;
    font-size: 23px;
    font-weight: 700;
    color:#285f8f;
    margin-bottom: 20px;
}
@media(max-width: 1000px){
    .title{
        font-size: 20px;
    }
}

@media(max-width: 700px){
    .title{
        font-size: 17px;
    }
}
.acor-container .acor-body {
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    background-color: #BFE2FF;
    padding: 0 30px;
    box-sizing: border-box;
    transition:  padding 0.8s;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
    cursor:pointer;
}

.acor-container label {
    cursor: pointer;
    background-color: #337AB7;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #BFE2FF;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;   
    font-size: 18px;
    margin: 0 0 20px;
    transition: color .35s;
}

@media(max-width:1000px){
    .acor-container label {
        padding: 12px 20px;
        width: 100%;
        color: #BFE2FF;
        font-weight: 300;
        box-sizing: border-box;
        z-index: 100;
        font-family: Verdana, sans-serif;   
        font-size: 16px;
        margin: 0 0 20px;
        transition: color .35s;
    }
}
@media(max-width:700px){
    .acor-container label {
        padding: 10px 20px;
        width: 100%;
        color: #BFE2FF;
        font-weight: 200;
        box-sizing: border-box;
        z-index: 100;
        font-family: Verdana, sans-serif;   
        font-size: 13px;
        margin: 0 0 20px;
        transition: color .35s;
    }
}
.acor-container label:hover + .acor-body {
    height: auto;
    margin-top: -18px;
    padding: 20px 30px 10px;
}
.acor-body:hover{
    height: auto;
    margin-top: -20px;
    padding: 20px 30px 10px;
}

.acor-container input{
    display: none;
}
.acor-container label:before {
    content: '\276F';
    float: right;
}
@media( hover:hover){
    .acor-container label:hover {
    color: #FFF;
    }
    .acor-container input:hover + label:before{
        transition: transform .35s;
        transform: rotate(90deg);
     }
}
@media (hover: none) {
    .acor-container label:hover {
        color: #FFF;
        }
        .acor-container input:hover + label:before{
            transition: transform .35s;
            transform: rotate(90deg);
         }
         .acor-container label:hover + .acor-body {
    height: auto;
    margin-top: -18px;
    padding: 20px 30px 10px;
}
}
.acor-container input:checked + label {
    background-color: #285f8f;
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -20px;
}
